HDD
Pictures
projects
Documents
Downloads
.zshrc
.lesshst
.gitconfig
.zcompdump
.npm
.pki
.cache
.ssh
.idlerc
.gnupg

.config/BraveSoftware
.config/mimeapps.list
.config/GIMP
.config/dconf
.config/pulse
.config/github-copilot
.config/gtk-3.0

.local/lib
.local/share
.local/state
