HDD
Pictures
projects
Documents
Downloads
.zshrc
.lesshst
.gitconfig
.zcompdump
.npm
.pki
.cache
.ssh
.idlerc
.gnupg
.gtkrc-2.0
.icons

.config/BraveSoftware
.config/mimeapps.list
.config/GIMP
.config/dconf
.config/pulse
.config/github-copilot
.config/gtk-3.0
.config/gtk-2.0
.config/Thunar
.config/xfce4
.config/viewnior
.config/zsh/plugins

.local/lib
.local/share
.local/state
